# Entorno virtual
venv/
env/
ENV/
mi_proyecto_web/
Scripts/
Lib/
Include/
pyvenv.cfg

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db